<script src="../dashboard/dashboard.component.ts"></script>
<div class="grid min-h-100hv grid-cols-[auto_1fr] justify-center gap-4 z-50">
  <aside class="self-start top-0 col-span-1 min-h-fit bg-transparent relative">
    <div role="button" class=" mt-14 place-items-center flex-col flex-shrink-0 rounded-r-full text-indigo-100 max-w-[56px] max-h-[50px] p-4 shadow-xl shadow-blue-gray-900/5 transition-colors duration-150 bg-blue-500 focus:shadow-outline hover:bg-blue-600" (click)="toggleSideBar()" [@openClose2]="isSideBarOpen">
        <div role="button" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>
    </div>
    <div class="flex-col flex-shrink-0 bg-clip-border rounded-xl bg-white text-gray-700 max-h-[calc(80vh-2rem)] max-w-[15rem] p-4 shadow-xl shadow-blue-gray-900/5 py-6 m-4" [@openClose]="isSideBarOpen" *ngIf="componentName!=='ConnexionComponent'">
      <div class="flex items-center p-3 rounded-lg text-start leading-tight transition-all">
        <div role="button" class="h-10 px-2 rounded-3xl grid place-items-center ml-auto justify-self-end text-indigo-100 transition-colors duration-150 bg-blue-500 focus:shadow-outline hover:bg-blue-600" (click)="toggleSideBar()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </div>
      </div>
      <nav class="max-h-[642px]">
        <div role="button" tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-100 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none" routerLink="/edt-calendar" routerLinkActive="router-link-active">
          <div class="grid place-items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
            </svg>
          </div>
          <div class="hidden lg:block md:hidden sm:hidden"> Accueil</div>

          <div class="grid place-items-center ml-auto justify-self-end">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </div>
        </div>
        <div role="button" tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-100 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none" routerLink="/dashboard" routerLinkActive="router-link-active">
          <div class="grid place-items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </div>
          <div class="hidden lg:block md:hidden sm:hidden"> Création </div>
          <div class="grid place-items-center ml-auto justify-self-end">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </div>
        </div>
        <div role="button" tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-100 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none" [routerLink]="['edt-calendar']" [queryParams]="{'edit': 'true'}" routerLinkActive="router-link-active">
          <div class="grid place-items-center mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg>
          </div>
          <div class="hidden lg:block md:hidden sm:hidden"> Édition </div>
          <div class="grid -place-items-center ml-auto justify-self-end">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </div>
        </div>
        <div class="border-t-2 border-gray-300 mt-4 mb-4" *ngIf="componentName==='ScheduleEditComponent'">
          <div class="grid grid-cols-3 rounded-lg bg-gray-200 w-max text-xs max-w-[180px] mt-4">
            <div>
              <input type="radio" name="option" id="1" value="matières" class="peer hidden" checked />
              <label for="1" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">matières</label>
            </div>

            <div>
              <input type="radio" name="option" id="2" value="salles" class="peer hidden" />
              <label for="2" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">salles</label>
            </div>

            <div>
              <input type="radio" name="option" id="3" value="prof" class="peer hidden" />
              <label for="3" class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">prof</label>
            </div>
          </div>
          <div id="coursDragList" (cdkDropListDropped)="drop($event)" cdkDropList class="overflow-auto max-h-96 min-h-fit relative max-w-sm mx-auto bg-white dark:bg-slate-800 dark:highlight-white/5 ring-1 ring-black/5 rounded-xl flex flex-col divide-y dark:divide-slate-200/5 mt-2 place-items-center select-none border-blue-500">


              @for (cours of externalEvents; track cours){
                <figure [cdkDragData]="cours" class="cours rounded-2xl m-1 p-5 w-fit bg-white shadow-lg ring-1 ring-gray-900/5 text-center justify-self-center hover:cursor-grab" cdkDrag>
                  <p>{{cours.title}}</p>
                </figure>
              }


          </div>

        </div>

      </nav>

      <div class="border-t-2 border-gray-300 h-1/4">
        <div role="button" tabindex="0" class="flex items-center w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-blue-50 hover:bg-opacity-80 focus:bg-blue-100 focus:bg-opacity-80 active:bg-gray-50 active:bg-opacity-80 hover:text-blue-900 focus:text-blue-900 active:text-blue-900 outline-none">
            <div class="grid place-items-center mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
            </div>
          <div class="hidden lg:block md:hidden sm:hidden">Compte</div>
            <div class="grid place-items-center ml-auto justify-self-end">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
        </div>
      </div>
    </div>
  </aside>
  <main class="m-4 overflow-auto">
    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
  </main>

</div>


