<main class="wrapper surface">
  <div class="card on-surface surface-text">
    <form class="">
      <h1 class="headline-large">Connexion</h1>
      <section>
        <div class="form-input-group">
          <input
            id="login"
            type="text"
            class="form-input on-primary-container"
          />
          <label class="label-large form-input-label" for="login"
            >Identifiant</label
          >
        </div>
        <div class="form-input-group">
          <input
            id="password"
            type="password"
            class="form-input on-primary-container"
          />
          <label class="label-large form-input-label" for="password"
            >Mot de passe</label
          >
        </div>
      </section>
      <section>
        <button>Se connecter</button>
      </section>
    </form>
  </div>
</main>
