<ng-template
    #currentTimeMarkerTemplate
    let-columnDate="columnDate"
    let-dayStartHour="dayStartHour"
    let-dayStartMinute="0"
    let-dayEndHour="dayEndHour"
    let-dayEndMinute="60"
    let-isVisible="isVisible"

    let-topPx="topPx"
>

    <div class="cal-current-time-marker" [style.top.px]="topPx" *ngIf="isVisible" >
     <div class="bg-red-500 w-fit text-xs">{{ nowTime }}</div>
    </div>
</ng-template>
<!--<mat-autocomplete #auto="matAutocomplete">-->
<!--  @for (professeur of professeurs; track professeur) {-->
<!--    <mat-option [value]="professeur">{{professeur}}</mat-option>-->
<!--  }-->
<!--</mat-autocomplete>-->


<ng-template
    #eventTemplateCustom
    let-weekEvent="weekEvent"
    let-tooltipAppendToBody="tooltipAppendToBody">
  <div class="cal-event m-0 mb-0">
    <div class="grid grid-cols-3 h-1/6">
      <div>

      </div>
      <div class="text-center">
        {{ weekEvent.event.title}}
      </div>
      <div>
        <div class="mb-0.5 rounded-3xl place-items-end ml-auto justify-self-end text-indigo-100 transition-colors duration-150 bg-red-600 focus:shadow-outline hover:bg-red-600 ng-tns-c2656273316-0 max-h-[30px] max-w-[25px]" *ngIf="isInEditionMod()" role="button" (click)="removeCours(weekEvent.event)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>

        </div>
      </div>
    </div>

    <div class="h-3/6">
    </div>
    <div class="flex h-2/6 place-items-end">
      <div class="mb-0.5 rounded-3xl place-items-end ml-auto justify-self-end text-indigo-100 transition-colors duration-150 bg-blue-500 focus:shadow-outline hover:bg-blue-600 ng-tns-c2656273316-0 max-h-[30px] max-w-[30px]" *ngIf="isInEditionMod()" role="button" (click)="addProf(weekEvent.event)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>

      </div>
    </div>

  </div>

</ng-template>
<div class="grid grid-cols-2">

    <div class="w-1/2 grid grid-cols-4 grid-rows-2 content-evenly flex-wrap gap-1">
        <div
                role="button"
                class=" justify-self-end w-1/2 self-center text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-4 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 outline-none"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay(); saveDate($event.toLocaleDateString())"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
        </div>
        <div class="w-full col-span-2 grid grid-cols-3 text-center justify-self-center self-center text-white bg-blue-500 font-medium rounded-lg text-sm px-5 py-1 dark:bg-blue-600">
            <div class="justify-self-center self-center col-span-2"> <h3> {{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }} </h3></div>
          <div class="justify-self-center m-0">
            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="filtreDatePicker" (dateChange)="changeDay($event.value); saveDate($event.value?.toLocaleDateString())" [hidden]="true">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>

        </div>
        <div role="button"
                class="justify-self-start w-1/2 self-center text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-4 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 outline-none"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay(); saveDate($event.toLocaleDateString())"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </div>

    <div class="flex flex-wrap gap-1 justify-self-center col-span-4 h-1/6">
      <div role="button"
              class="justify-self-center text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 outline-none select-none"
              mwlCalendarToday
              [(viewDate)]="viewDate"
              (viewDateChange)="saveDate($event.toLocaleDateString())"
      >
        Aujourd'hui
      </div>
    </div>
    </div>
    <div>

      <mat-form-field>
        <mat-label>groupe</mat-label>
        <mat-select [(value)]="defaultSelectedGroupe" [(ngModel)]="selectedGroupe" (selectionChange)="getCoursGroupe(selectedGroupe); window.localStorage.setItem('currentIdGroupe',selectedGroupe.toString()); console.log(groupesList)">
          @for (groupe of groupesList; track groupe) {
            <mat-optgroup [label]="groupe.name">
            @for (subgroupe of groupe.subGroupes; track subgroupe){
              <mat-option [value]="subgroupe.idGroupe">{{subgroupe.name}}</mat-option>
            }
            </mat-optgroup>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>prof</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
<!--          @for (option of filteredOptions | async; track option) {-->
<!--            <mat-option [value]="option">{{option}}</mat-option>-->
<!--          }-->
        </mat-autocomplete>
      </mat-form-field>
    </div>
</div>
<div *ngIf="loadingCalendar" class="grid-cols-3">
  <div  class="justify-self-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div [ngSwitch]="view" *ngIf="!loadingCalendar">
    <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [refresh]="refreshCalendar"
            [dayStartHour]="8"
            [dayEndHour]="19"
            [hourSegments]="3"
            [hourDuration]="30"
            [excludeDays]="[0,6]"
            [events]="events"
            (eventTimesChanged)="eventDropped($event)"
            (hourSegmentClicked)="setView(CalendarView.Day, $event.date)"
            (dayHeaderClicked)="setView(CalendarView.Day, $event.day.date)"
            [currentTimeMarkerTemplate]="currentTimeMarkerTemplate"
            [snapDraggedEvents]="false"
            [hourSegmentHeight]="13"
            [eventTemplate]="eventTemplateCustom"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [refresh]="refreshCalendar"
            [dayStartHour]="8"
            [dayEndHour]="19"
            [hourSegments]="3"
            [hourDuration]="30"
            [events]="events"
            (eventTimesChanged)="eventDropped($event)"
            (hourSegmentClicked)="setView(CalendarView.Week, $event.date)"
            [currentTimeMarkerTemplate]="currentTimeMarkerTemplate"
            [snapDraggedEvents]="false"
            [hourSegmentHeight]="13"
            [eventTemplate]="eventTemplateCustom"


    >
    </mwl-calendar-day-view>
<!--  si besoin de changer la hauteur :  [hourSegmentHeight]="10"
      si besoin d'un event custom  :             [eventTemplate]="eventTemplateCustom"

-->


</div>
