
<form (ngSubmit)="onSubmit()">
  <!-- Ajoutez vos champs de formulaire ici -->
  <p><label for="exampleInput">Nom :</label><p>
  <input type="text" id="exampleInput" [(ngModel)]="formData.FirstName" name="exampleInput" required>
  
  <p><label for="exampleInput">Prénom :</label><p>
  <input type="text" id="exampleInput" [(ngModel)]="formData.LastName" name="exampleInput" required>
  
  <p><label for="exampleInput">IdUtilisateur :</label><p>
  <input type="text" id="exampleInput" [(ngModel)]="formData.IdUtilisateur" name="exampleInput" required>
  
  <p><label for="exampleInput">Username :</label><p>
  <input type="text" id="exampleInput" [(ngModel)]="formData.Username" name="exampleInput" required>
  
  <p><label for="exampleInput">PassWord :</label><p>
  <input type="text" id="exampleInput" [(ngModel)]="formData.PassWord" name="exampleInput" required>

  <p><button type="submit">Envoyer</button><p>
</form>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
<button (click)="redirectToPage()">Retour au menu</button>