<div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
    <main>
        <div class="grid grid-cols-3 gap-3 grid-flow-row-dense">
            <div class="bg-red-500 rounded-lg shadow-xl col-span-2">
                <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <h3 class="mb-4 text-xl font-semibold dark:text-white">Information générale</h3>
                    <div class="grid grid-cols-6 gap-6 justify-stretch">
                        <div class="col-span-2">
                            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                            <span class="block w-full text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.FirstName}}</span>
                        </div>
                        <div class="col-span-2">
                            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom</label>
                            <span class="block w-full text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.LastName}}</span>
                        </div>
                        <div class="col-span-2">
                            <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Identifiant</label>
                            <span class="block w-full text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.Username}}</span>
                        </div>
                        <div class="col-span-6">
                            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                            <span class="text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.role.type}}</span>
                        </div>  
                        <div class="col-span-6">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Groupe</label>
                            <span class="text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.role.groupe}}</span>
                        </div>
                        <div class="col-span-1">
                            <label for="phone-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Initiale</label>
                            <span class="text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.role.initiale}}</span>
                        </div>
                        <div class="col-span-1">
                            <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bureau</label>
                            <span class="text-gray-900 sm:text-sm rounded-lg border border-gray-300 bg-gray-50 p-2.5 dark:text-white dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-primary-500 dark:focus:border-primary-500">{{user.role.bureau}}</span>
                        </div>
                             
                    </div>
                </div>
            </div>
            <div class="bg-green-500 rounded-lg shadow-xl row-span-2 col-start-3">
                <div class="h-[97.5%] p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <h3 class="mb-4 text-xl font-semibold dark:text-white">Password information</h3>
                    <form>
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-6"> <!-- Utiliser col-span-6 ici -->
                                <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current password</label>
                                <input type="text" name="current-password" id="current-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="••••••••" required="">
                            </div>
                            <div class="col-span-6 sm:col-span-6"> <!-- Utiliser col-span-6 ici -->
                                <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New password</label>
                                <input type="text" name="new-password" id="new-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="••••••••" required="">
                            </div>
                            <div class="col-span-6 sm:col-span-6"> <!-- Utiliser col-span-6 ici -->
                                <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                                <input type="text" name="confirm-password" id="confirm-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="••••••••" required="">
                            </div>
                            <div class="col-span-6 sm:col-span-6"> <!-- Utiliser col-span-6 ici -->
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                      
                </div>
            </div>
            <div class="bg-blue-500 rounded-lg shadow-xl  col-span-2">
                <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <h3 class="mb-4 text-xl font-semibold dark:text-white">Month information</h3>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Heure travaillé
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Heure SAE
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Heure TD
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Heure Amphi
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        
                                    </th>
                                    <td class="px-6 py-4">
                                        
                                    </td>
                                    <td class="px-6 py-4">
                                        
                                    </td>
                                    <td class="px-6 py-4">
                                        
                                    </td>
                                    <td class="px-6 py-4">
                                        
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="bg-yellow-500 rounded-lg shadow-xl col-span-full">
                <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <h3 class="mb-4 text-xl font-semibold dark:text-white">Year information</h3>
                </div>
            </div>
            
        </div>
        
    </main>
</div>